.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: -455px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 443px auto 33px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-text-1 {
    width: 700px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -650px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 638px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -828px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 817px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1256px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1245px;
  }
}